body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #f5f5f5;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 40px;
}

h1 {
    font-size: 2.5em;
}

.subtitle {
    color: #aaa;
    margin-bottom: 40px;
}

h2 {
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
}

section {
    margin-bottom: 40px;
}

a {
    color: #4ea8de;
    text-decoration: none;
}
